<h1>Burger Eater</h1>

<h2> burger list! </h2>

<div class='container'>
  <div class = 'col-lg-6 col-md-6 col-sm-6 uneaten'>
    <ul>
{{#each burgers}}
  {{#unless this.devoured}}
  <div class = 'uneatenBurger'>
    burger name: {{this.name}}
    <button type='button' class= 'uneatenButton' id="{{this.name}} button">Eat it!</button>
  </div>
  {{/unless}}
{{/each}}
</ul>
  </div>
  <div class = 'col-lg-6 col-md-6 col-sm-6 eaten'>
        <ul>
{{#each burgers}}
  {{#if this.devoured}}
  <div class = 'eatenBurger'>
   burger name: {{name}}
  </div>
  {{/if}}
{{/each}}
</ul>
  </div>
</div>

